@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Freehand&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Freehand&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=DM+Serif+Display:ital@0;1&family=Freehand&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=DM+Serif+Display:ital@0;1&family=Fasthand&family=Freehand&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    margin:0px;
    padding: 0px;
    background: #ABAAA9 fixed;
    user-select: none;
    overflow: hidden;
}
.bodyCustom{
    margin:0px;
    padding: 0px;
    background: #ABAAA9 fixed;
    user-select: none;
    overflow: scroll;
    overflow-x: hidden;
}
.mainContainer{
    max-width: 100%;
    height: 100vh;
    background-color: #ABAAA9 ;
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.circleInfo{
    position: relative;
}
.name{
    position: absolute; /* position the top  edge of the element at the middle of the parent */
    top: 50%; /* position the left edge of the element at the middle of the parent */
    margin: 0;
    transform: translateY(-55%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 6em;
    font-weight: 700;
    font-style: normal;
    color: white;
    z-index: 40;
    text-shadow:  8px 0px 2px #a5a2a2;
    width: 100%;
    text-align: center;
    
}
.circleInfo{
    position: relative;
}
.circle{
    width: 55vh;
    height: 55vh;
    border-top-left-radius : 48%;
    border-top-right-radius : 50%;
    border-bottom-left-radius : 48%;
    border-bottom-right-radius : 58%;
    background-color: #E5D9D9;
    filter: opacity(100%);
    animation: rotating 1s linear infinite;
    z-index: 30;
}
.circleBackground{
    z-index: 1;
    width: 55vh;
    height: 55vh;
    position: absolute;
    background-color: #E5D9D9;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
        
       
    }
    to{
        transform: rotate(360deg);
        
    }
}
.infoDiv{
    transform: skewY(-5deg);
    max-width: 100%;
    
    background: #F4EEF1;
    margin-top:10vh;
   padding-bottom: 20vh;
   min-height: 100vh;
}
@media screen and (max-width:900px){
    .circle{
        width: 40vh;
        height: 40vh;
        
    
    }
    .circleBackground{
     
        width: 40vh;
        height: 40vh;
        
    }
    .name{
        font-size: 5em;
        
    }
    .infoTitle h2{
        font-size: 2.5em !important;
        width:80%;
    }
    .globo{
        height: 70px;
    }
} 
@media screen and (max-width:700px){
    .circle{
        width: 30vh;
        height: 30vh;
        
    
    }
    .circleBackground{
        width: 30vh;
        height: 30vh;
       
    
    }
    .name{
        font-size: 4.5em;
        
    }
    .infoTitle h2{
        font-size: 2em;
    }
} 
@media screen and (max-width:500px){
    .circle{
        width: 30vh;
        height: 30vh;
        
    
    }
    .circleBackground{
        width: 30vh;
        height: 30vh;
        
    
    }
    .name{
        font-size: 5em;
        
    }
} 
@media screen and (max-width:300px){
    .circle{
        width: 30vh;
        height: 30vh;
       
    
    }
    .circleBackground{
        width: 30vh;
        height: 30vh;
       
    
    }
    .name{
        font-size: 3em;
       
    }
} 
.estrellas{
    
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    
}
.estrella{
    background: url("estrella.gif");
    
   
    background-size: contain;
}
::-webkit-scrollbar {
    width: 10px;
    
}
/* Track */
::-webkit-scrollbar-track {
background: #ABAAA9;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #E5D9D9;
border-radius: 10px;
height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #E5D9D9;
}  
.infoDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.infoTitle{
 
  display: flex;
  flex-direction: column;
  gap: 0px;
  z-index: 10;
}
.infoTitle h2{
    font-size: 4em;
    text-align: center;
    margin: 0;
    color: #737373;
    font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #f4eef11f !important;
  border-radius: 10%;
  margin: auto;
  align-self: center;
  z-index: 40;
}
.titleEvent{
    transform: skewY(5deg);
    margin-top: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 40;
}
.infoTitlePic{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
    
}

.globo{
    height: 100px;
}


@keyframes move {
	0% {
        display: flex;
		bottom: -150px;
        
	}
    80%{
        display: none;
    }
	100% {
        display: none;
		bottom: 100%;
        
	}
}
.titleEvent .hilo{
    margin-top: 10px;
    width: 80%;
}

.ubicacion{
    
    position: relative;
    bottom: 20px;
    transform: skewY(5deg);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ubicacion a{
    z-index: 40 !important;
    background-color: #737373;
    padding: 10px;
    border-radius: 12px;
    font-size: 2em;
    font-weight: 600;
    color:#F4EEF1;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center !important;
    justify-content: center;
}
.ubicacion span{
    padding: 0px;
    text-align: center;
    vertical-align: center !important;
    align-self: center !important;
    font-size: 1.2em;
    height: 40px;
}
.ubicacion img{
    margin-top: -20px;
    width: 40px;
    z-index: 60;
}
@media screen and (max-width:900px) {
    .ubicacion a{
        font-size: 1.5em;
    }
    .ubicacion span{
        font-size: 1.5em;
    }
}

.eventoInformaciones{
    margin-top: 50px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 130px;
    transform: skewY(5deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}
.eventoInformacion{
    gap: 20px;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.eventoInformacion h1{
    color: #968A8B;
    margin: 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
}
.eventoInformacion h2{
    color: #968A8B;
    margin: 0;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.eventoInformacion a{
    background-color: #eeebec;
    border-radius: 1px solid #968a8b65;
    border-radius: 20px;
    font-size: 1.5em;
    text-decoration: none;
    color:#968A8B;
    padding: 10px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    letter-spacing: 3px;
}
@media screen and (max-width:900px) {
    .eventoInformaciones{
        flex-direction: column;
    }
   
}
.flower{
    height: 80px;
    position: absolute;
    top: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: skewY(5deg);
}

@media screen and (max-width:900px) {
    .flower{
        height: 70px;
    }
    
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.infoTitle img{
    position: absolute;
    height: 120px;
    top:-10px;
    z-index: 10;
    opacity: 0%;
    
    
}
.globos3{
    animation:aparecer 3s linear forwards,shake 3s infinite;
    
    animation-delay:  11s;
}
#glove1{
    left:30px;
    
}
#glove2{
    right: 30px;
}
@keyframes aparecer {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }


}
.calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendar img{
    margin-top: -20px;
    width: 40px;
    z-index: 60;
}
.dontForgetContainer{
    min-height: 100vh;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #ABAAA9;
    z-index: 10;
    position: relative;
    top:-10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center; 
}
.dontForgetContainer .card{
    
    height: 75vh;
    max-height: 1500px;
    width: 80%;
    background-color: #E5D9D9;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
    animation: fadein 1s linear forwards;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 0.75s all;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

@media screen and (max-width:900px) {
    .dontForgetContainer .card{
        height: 75vh;
        width: 80%;
        background-color: #E5D9D9;
        border-radius: 30px;
    }
    
}



.confirmContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-image: url("estrellasGifEmi.gif");
    background-size: contain;
    filter: contrast(90%);
    filter: brightness(120%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmContainer h1{
    color:#737373;
}
.confirmContainer .circle{
    background-color: #F4EEF1 !important;
}
.confirmContainer a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#737373 ;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
    color: #E5D9D9;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.confirmTag{
    position: absolute;
    display: flex;
    bottom:80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    justify-content: space-between;
}
.confirmTag span{
    text-align: center;
    font-size: 2em;
    vertical-align: center;
    color: pink;
}
.confirmTag img{
    margin-top: -20px;
    width: 40px;
    z-index: 60;
}
@media screen and (orientation:landscape) {
    .confirmTag{
        
      bottom: 73vh;
    
    }
    .confirmTag a{
        font-size: 1em;

    }
    .confirmTag span{
        font-size: 1em;
    }
}
@media screen and (max-width:700px) {
    .confirmTag a{
        font-size: 1.3em;
        gap: 10px;

    }
    .confirmTag span{
        font-size: 1.3em;
    }

}
#cardVestimenta{
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: space-around;
   
}
#cardVestimenta h1{
    margin: 0px;
    font-family: "Fasthand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    width: 100%;
    text-align: center;
    color: #747474;
    
}
.vestimenta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin:0;
}

.vestimenta img{
    height: 300px;
    width: min-content;
    margin:0;
}
.recommendedVestimenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vestimenta h2{
    color: #929090;
    margin:0;
    text-align: center;
    font-weight: 400;
}
.vestimenta h3{
    margin:0;
    color:white;
    font-size: 2em;
    text-shadow: 0 0 5px #ffff, 0 0 10px #ffff, 0 0 15px #ffff; 
    text-align: center;
}
.vestimenta h4{
    margin: 0;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    color: #AB9B9B;

}
.eleganteDiv{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0;
}
.dontRecommendedP{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 5px;
    justify-content: center;
}
#cardPileta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}
#cardPileta img{
   
    height: 300px;
    width: min-content;
    margin-left: 10px;
    margin-top: 10px;
}
#cardPileta p{
    margin: 0;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 1.6em;
    text-align: center;
    color: #AB9B9B;
}
#chanclas{
    height: 300px;
    width: min-content;
    margin-right: 10px;
    margin-bottom: 10px;

    align-self: self-end;
}

@media screen  and (max-height:700px){
    .dontForgetContainer .card{
        width: 90%;
    }
    #cardPileta{
        flex-direction: column;
    }
    .vestimenta{
        flex-direction: column;
        align-items: center;
    }
    #cardPileta img{
   
        height: 100px;
        margin-left: 10px;
        margin-top: 10px;
    }
    #cardPileta p{
        margin: 0;
        text-align: center;
    }
    #chanclas{
        height: 20%;
        margin: 0;
    }
}
@media screen  and (max-height:250px){
    .dontRecommendedP{
        margin-top: auto;
        margin-bottom: auto;
    }
}


.loader{
    opacity: 1;
    height: 100vh;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 1000;
    background-color: #E5D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader img{
    height: 60px;
    animation: aumentar 6s ease-in-out;
}
@keyframes aumentar {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }   
}
.close{
    opacity: 0;
    transition: 1.5s;
    display: none;
}
.popupAsking{
    position: fixed;
    z-index: 900 !important;
    height: 100vh;
    width: 100%;
    background-color: #E5D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle2{
    width: 55vh;
    height: 55vh;
    border-top-left-radius : 48%;
    border-top-right-radius : 50%;
    border-bottom-left-radius : 48%;
    border-bottom-right-radius : 58%;
    background-color: #b4b4b4;
    filter: opacity(100%);
    animation: rotating 1s linear infinite;
    z-index: 902;
    
}
.circleContenedor2{
    width: 55vh;
    height: 55vh;
    border-top-left-radius : 48%;
    border-top-right-radius : 50%;
    border-bottom-left-radius : 48%;
    border-bottom-right-radius : 58%;
    z-index: 903;
    
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
    
}
.name2{
    position: absolute;
    width: 100%;
    margin: 0;
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-optical-sizing: auto;
    font-size: 6em;
    font-weight: 700;
    font-style: normal;
    color: white;
    z-index: 40;
    text-shadow:  8px 0px 2px #a5a2a2;
    z-index: 903;
    top: 50%;
    transform: translateY(-50%);
  
}
.estrellas2{
    z-index: 901;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    
}
.askingMusic{
    z-index: 904;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

    position: absolute;
    bottom: 10vh;
}
.askingMusic a{
    cursor: pointer;
    width: auto;
    background-color: rgb(255, 241, 232);
    border: 1px solid #E5D9D9;
    border-radius: 20px;
    color: #737373;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.askingMusic span{
    font-size: 1.5em;
}
@media screen and (orientation:portrait) {
    .askingMusic{
        flex-direction: column;
    }
    .askingMusic span{
        font-size: 1.3em;
    }
    .askingMusic a{
        font-size: 1.3em;
    }
}
.globitoQuieto{
    opacity: 0;
    top: 0;
}
.globitoMoviendose{
    opacity: 1;
  animation : move 6s 1 linear;
}



@media screen and (max-width:900px){
    .circle2{
        width: 40vh;
        height: 40vh;
       
    
    }
    .circleContenedor2{
        width:40vh;
        height: 40vh;
    }
    .name2{
        font-size: 5em;
        
    }
    
} 
@media screen and (max-width:700px){
    .circle2{
        width: 30vh;
        height: 30vh;
        
    
    }
    .circleContenedor2{
        width:20vh;
        height: 20vh;
    }
    .name2{
        font-size: 4.5em;
      
    }
   
} 
@media screen and (max-width:500px){
    .circle2{
        width: 30vh;
        height: 30vh;
        
    
    }
    .circleContenedor2{
        width:30vh;
        height: 30vh;
    }
    .name2{
        font-size: 4em;
       
    }
    .card{
        height: 80vh;
    }
} 
@media screen and (max-width:300px){
    .circle2{
        width: 30vh;
        height: 30vh;
       
    
    }
    .circleContenedor2{
        width: 30vh;
        height: 30vh;
    }
    .name2{
        font-size: 3em;
 
    }
    .card{
        height: 80vh;
    }
} 
@media screen  and (orientation:landscape){
    .circle{
        
        width: 55vh;
        height: 55vh;
    }
    .circleBackground{
        width: 55vh;
        height: 55vh;
    }
    .circle2{
        position: absolute;
        left: 10%;
        transform: translateX(0%);
        width: 55vh;
        height: 55vh;
       
    
    }
    .circleContenedor2{
        position: absolute;
        left: 10%;
        transform: translateX(0%);
        width: 55vh;
        height: 55vh;
    }
    .askingMusic{
        flex-direction: column;
        right: 10%;
        bottom: auto;
        gap: 30px;
    }       
}
@media screen and (orientation:portrait) {
    .vestimenta{
        flex-direction: column;
    }
    .circle{
        
        max-width: 700px;
        max-height: 700px;
    }
    .circleBackground{
        max-width: 700px;
        max-height: 700px;
    }
    .circle2{
        max-width: 700px;
        max-height: 700px;
        
    
    }
    .circleContenedor2{
        max-width: 700px;
        max-height: 700px;
    }   
}

/* IMAGENES BUGS*/
@media screen  and (max-width:1000px){
    .vestimenta img{
        height: 250px;
        width: 250px;
    }   
     #cardPileta img{
   
        height: 250px;
        width: 250px;
        
    }
    #chanclas{
    height: 250px;
    width: 250px;
    }
}

@media screen  and (max-width:900px){
    .vestimenta img{
        height: 200px;
        width: 200px;  
    }   
    #cardPileta img{
   
        height: 200px;
        width: 200px;
    }
    #chanclas{
    height: 200px;
    width: 200px;
    }
}
@media screen  and (max-width:700px){
    .vestimenta img{
        height: 150px;
        width: 150px;
    }   
     #cardPileta img{
   
        height: 150px;
        width: 150px;
        
    }
    #chanclas{
    height: 150px;
    width: 150px;
    }
}
@media screen  and (max-width:500px){
    #cardPileta p{
        font-size: 1.5em;
    }
    .vestimenta img{
        height: 150px;
        width: 150px;
    }   
     #cardPileta img{
   
        height: 150px;
        width: 150px;
    }
    #chanclas{
    height: 150px;
    width: 150px;
    }
}
@media screen  and (max-width:300px){
    #cardPileta p{
        font-size: 1.5em;
    }
    .vestimenta img{
        height: 100px;
        width: 100px;
    }   
     #cardPileta img{
        margin: 0;
        height: 100px;
        width: 100px;
    }
    #chanclas{
    height: 100px;
    width: 100px;
    margin: 0;
    }
}


@media screen and (orientation:landscape) {
     #cardPileta{
        flex-direction: row;
    }
    .vestimenta{
        flex-direction: row;
        align-items: center;
    }
    .vestimenta img{
        order: 1;
    }
    .recommendedVestimenta {
        order: 2;
    }
}
@media screen  and (max-height:800px) and (orientation:landscape){
    #cardPileta p{
        font-size: 2em;
    }
    .vestimenta img{
        height: 220px;
        width: 220px;
    }   
     #cardPileta img{
        margin: 10px;
        height: 220px;
        width: 220px;
        
    }
    #chanclas{
    height: 220px;
    margin: 0;
    width: 220px;
    }
}
@media screen  and (max-height:500px) and (orientation:landscape){
    #cardPileta p{
        font-size: 1.5em;
    }
    .vestimenta img{
        height: 130px;
        width: 130px;
    }   
     #cardPileta img{
        margin: 10px;
        height: 130px;
        width: 130px;
    }
    #chanclas{
    height: 130px;
    width: 130px;
    margin: 0;
    }
}